In [5]:
num=[]
num.append("영화")
num.append("드라마")
s=num.pop()
print(num)
print(s)

['영화']
드라마

In [20]:
i=3
other_list=["친구","가족"]
list1=[10,20,"슈퍼맨",i,30,other_list]
print(list1)
print(list1[0])
print(list1[:3])
print(list1[3:])
print(list1[1:3])
print(list1[:])
list1.insert(0,15)
print(list1)
list1.remove(15)
print(list1)

[10, 20, '슈퍼맨', 3, 30, ['친구', '가족']]
10
[10, 20, '슈퍼맨']
[3, 30, ['친구', '가족']]
[20, '슈퍼맨']
[10, 20, '슈퍼맨', 3, 30, ['친구', '가족']]
[15, 10, 20, '슈퍼맨', 3, 30, ['친구', '가족']]
[10, 20, '슈퍼맨', 3, 30, ['친구', '가족']]

In [23]:
if "슈퍼맨" in list1:
    list1.remove("슈퍼맨")
print(list1)

[10, 20, 3, 30, ['친구', '가족']]

In [25]:
del list1[0]
print(list1)

[3, 30, ['친구', '가족']]

In [29]:
m=list1.pop()
print(list1)
print(m)

list1.append(10)
print(list1)

[]
10
[10]

In [31]:
list1.append(40)
list1.append(30)
print(list1)

[10, 40, 30, 40, 30]

In [34]:
list1.sort()
print(list1)

[10, 30, 30, 40, 40]

In [40]:
phone_book={}
phone_book["홍길동"]="010383838383"
phone_book["홍길순"]="010388383839"
print(phone_book)
phone_book.keys()
phone_book.values()

{'홍길동': '010383838383', '홍길순': '010388383839'}

dict_values(['010383838383', '010388383839'])