In [2]:
import sys
print('python', sys.version)

import numpy as np
print('numpy', np.__version__)

import pandas as pd
print('pandas', pd.__version__)

# 결과 확인을 용이하게 하기 위한 코드
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

python 3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
numpy 1.20.3
pandas 1.4.1

## Series

### series 생성

In [22]:
pd.Series(data=[1,2,3,4,5])
pd.Series(np.arange(1,6))
pd.Series(data=[1,2,3,4,5], index=list('abcde'))
pd.Series(data=[1,2,3,4,5], index=list('abcde'), dtype=float, name='sr1')
pd.Series(data=[1,2,3,4.11,5], index=list('abcde'))

print('## dtype object')
s1=pd.Series(data=[1,2,3,4.11,5], index=list('abcde'), dtype=object)
s1
type(s1['b'])
type(s1['d'])

print('## dtype object')
pd.Series(data=['er',2,3,4.11,5], index=list('abcde'))

print('## 사전')
pd.Series({'a':1,'b':2,'c':3,'d':4})

print('## index 중복')
s2=pd.Series(data=['er',2,3,4.11,5], index=[1,1,1,2,2])
s2
s2[1]

0    1
1    2
2    3
3    4
4    5
dtype: int64

0    1
1    2
2    3
3    4
4    5
dtype: int32

a    1
b    2
c    3
d    4
e    5
dtype: int64

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: sr1, dtype: float64

a    1.00
b    2.00
c    3.00
d    4.11
e    5.00
dtype: float64

## dtype object

a       1
b       2
c       3
d    4.11
e       5
dtype: object

int

float

## dtype object

a      er
b       2
c       3
d    4.11
e       5
dtype: object

## 사전

a    1
b    2
c    3
d    4
dtype: int64

## index 중복

1      er
1       2
1       3
2    4.11
2       5
dtype: object

1    er
1     2
1     3
dtype: object

### series 객체 수정하기

In [25]:
ds1=pd.Series(data=[1,2,3,4.2], index=list('abcd'), name='myname')
ds1
ds1.index=list('efgh')
ds1.name='yourname'
ds1=ds1.astype(int)
ds1.index.name='aaaaaa'
ds1

a    1.0
b    2.0
c    3.0
d    4.2
Name: myname, dtype: float64

aaaaaa
e    1
f    2
g    3
h    4
Name: yourname, dtype: int32

### 실습1

In [26]:
s1=pd.Series(np.random.randint(0,10,size=5), index=range(1,6))
s1
a1=s1.values
a1
a2=a1[a1>=3]
a2
a2.mean()

1    4
2    0
3    7
4    5
5    8
dtype: int32

array([4, 0, 7, 5, 8])

array([4, 7, 5, 8])

6.0

## series indexing & slicing

### series indexing 연습 (loc)

In [3]:
sr1=pd.Series(data=[1,2,3,4,5], index=list('abcde'), dtype=float, name='sr1')
print(sr1)

print("## indexing (값 하나) => return scalar (하나의 값)")
print(sr1.loc['c']) 
print(sr1['c']) #위 코드와 동일
sr1.loc['c']=-3.2
sr1['c']=-3.2 #위 코드와 동일   
print(sr1)

print("## indexing (값 둘 이상) => return series")
# print(sr1.loc['a','e'])  에러발생
print(sr1.loc[['a','e']])  
print(sr1[['a','e']]) #위 코드와 동일
sr1.loc[['a','e']]=-5
sr1[['a','e']]=-5 #위 코드와 동일
print(sr1)

print("## indexing (값 하나) => return series")
print(sr1.loc[['a']])
print(sr1[['a']]) #위 코드와 동일
sr1.loc[['a']]=10
sr1[['a']]=10 #위 코드와 동일
print(sr1)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: sr1, dtype: float64
## indexing (값 하나) => return scalar (하나의 값)
3.0
3.0
a    1.0
b    2.0
c   -3.2
d    4.0
e    5.0
Name: sr1, dtype: float64
## indexing (값 둘 이상) => return series
a    1.0
e    5.0
Name: sr1, dtype: float64
a    1.0
e    5.0
Name: sr1, dtype: float64
a   -5.0
b    2.0
c   -3.2
d    4.0
e   -5.0
Name: sr1, dtype: float64
## indexing (값 하나) => return series
a   -5.0
Name: sr1, dtype: float64
a   -5.0
Name: sr1, dtype: float64
a    10.0
b    10.0
c    -3.2
d     4.0
e    -5.0
Name: sr1, dtype: float64

### series indexing 연습 (iloc)

In [ ]:
sr1=pd.Series(data=[1,2,3,4,5], index=list('abcde'), dtype=float, name='sr1')
print(sr1)

print("## indexing (값 하나)")
print(sr1.iloc[2]) # 하나의 값
sr1.iloc[2]=-3.2
print(sr1)

print("## indexing (값 둘 이상)")
print(sr1.iloc[[1,2]]) # series
sr1.iloc[[1,2]]=-5
print(sr1)

### series .loc 생략 시, 혼란스러운 경우

In [12]:
sr1=pd.Series(data=[1,2,3,4,5], index=list('abcde'))
sr1

#sr1.iloc[3]
# sr1.loc[3]
sr1[3]

a    1
b    2
c    3
d    4
e    5
dtype: int64

4

In [12]:
sr1=pd.Series(data=[1,2,3,4,5], index=list('abcde'), dtype=float, name='sr1')
sr1
sr1[2] # <= sr1.iloc[2]
sr1['b'] # <=sr1.loc['b']

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: sr1, dtype: float64

3.0

2.0

### series slicing 연습 (loc, iloc)

In [19]:
sr1=pd.Series(data=[1,2,3,4,5], name='sr1')
sr1

sr1.loc[0:2]
sr1.iloc[0:2]

0    1
1    2
2    3
3    4
4    5
Name: sr1, dtype: int64

0    1
1    2
2    3
Name: sr1, dtype: int64

0    1
1    2
Name: sr1, dtype: int64

In [13]:
sr1=pd.Series(data=[1,2,3,4,5], index=[3,7,4,5,6], name='sr1')
print(sr1)

print('##################')
print(sr1.iloc[3])
print(sr1.loc[3])
print('##################')
print(sr1.iloc[3:5])
print(sr1.loc[3:5])
print('##################')
print(sr1.iloc[3::2])
print(sr1.loc[7::2])

3    1
7    2
4    3
5    4
6    5
Name: sr1, dtype: int64
##################
4
1
##################
5    4
6    5
Name: sr1, dtype: int64
3    1
7    2
4    3
5    4
Name: sr1, dtype: int64
##################
5    4
Name: sr1, dtype: int64
7    2
5    4
Name: sr1, dtype: int64

### 실습2

In [11]:
s1=pd.Series(np.arange(10), index=list('e1d2c3b4a5'))
s1
s1.loc['d']
s1.loc[['5']]
s1.loc['d':'b':2]

s1.iloc[2]
s1.iloc[[-1]]
s1.iloc[2:7:2]

e    0
1    1
d    2
2    3
c    4
3    5
b    6
4    7
a    8
5    9
dtype: int32

2

5    9
dtype: int32

d    2
c    4
b    6
dtype: int32

2

5    9
dtype: int32

d    2
c    4
b    6
dtype: int32

## series creation

### 연습

In [4]:
## 정규분포에서 데이터 가져오기
sr1=pd.Series(data=np.random.normal(0,2,size=(4)), name='sr1')
sr1
## 랜덤한 정수가져오기
sr2=pd.Series(data=np.random.randint(100,size=(4)), name='sr2')
sr2
## 주어진 list에서 랜덤하게 sampling 하여 가져오기
sr3=pd.Series(data=np.random.choice(list('erferwe'),size=(4)), name='sr3')
sr3

0    1.608469
1   -2.689556
2    0.353855
3    0.434130
Name: sr1, dtype: float64

0    97
1    29
2    85
3     0
Name: sr2, dtype: int32

0    r
1    r
2    r
3    r
Name: sr3, dtype: object

## series function

### 연습

In [9]:
sr1=pd.Series(data=[3,2,1,4,5], index=list('abcde'), name='sr1')
sr1
sr1%3
# mean
sr1.mean()
np.mean(sr1) # not available: pd.mean(sr1))
print('###############')
sr1.max()
sr1.sum()
print('###############')
sr1.argmax()
sr1.idxmax()

a    3
b    2
c    1
d    4
e    5
Name: sr1, dtype: int64

a    0
b    2
c    1
d    1
e    2
Name: sr1, dtype: int64

3.0

3.0

###############

5

15

###############

4

'e'

## series comparison & boolean index

### 연습

In [24]:
sr2=pd.Series(data=np.random.randint(10,size=(6)), name='sr2')
sr2
sr2>4
sr2[sr2>4]
sr2.loc[sr2>4]

# sr2.loc[sr2>4]

0    6
1    2
2    0
3    9
4    7
5    9
Name: sr2, dtype: int32

0     True
1    False
2    False
3     True
4     True
5     True
Name: sr2, dtype: bool

0    6
3    9
4    7
5    9
Name: sr2, dtype: int32

0    6
3    9
4    7
5    9
Name: sr2, dtype: int32

## series sort & replace

### 연습

In [15]:
print("#### sort data")
s1=pd.Series(data=[5,2,4,1,3], index=list('abcde'))
s1
s1.sort_values()
s1
s1.sort_values(inplace=True)
s1
s1=pd.Series(data=[5,2,4,1,3], index=list('abcde'))
s1=s1.sort_values()
s1
print("#### sort index")
s1=pd.Series(data=[5,2,4,1,3], index=list('cdabe'))
s1
s1=s1.sort_index()
s1

#### sort data

a    5
b    2
c    4
d    1
e    3
dtype: int64

d    1
b    2
e    3
c    4
a    5
dtype: int64

a    5
b    2
c    4
d    1
e    3
dtype: int64

d    1
b    2
e    3
c    4
a    5
dtype: int64

d    1
b    2
e    3
c    4
a    5
dtype: int64

#### sort index

c    5
d    2
a    4
b    1
e    3
dtype: int64

a    4
b    1
c    5
d    2
e    3
dtype: int64

In [26]:
print("#### replace by index")
# sr1=pd.Series(data=list('abca'), index=range(3,7))
# sr1
# sr1.loc[4:6]='z'
# sr1
# sr1.iloc[0]='z'
# sr1

# # 

sr1=pd.Series(data=list('abca'), index=range(3,7))
sr1
sr1.replace(['a','b'],['3','11'], inplace=True)
sr1

#### replace by index

3    a
4    b
5    c
6    a
dtype: object

3     3
4    11
5     c
6     3
dtype: object

## 문제 1~3

### 문제 1

In [35]:
# 주어진 series s1의 data중 1은 one, 5는 five로 바꾼 s1을 다시 출력하시오 (2,3,4는 그대로 둠)

s1=pd.Series(index=list('abcdefghij'), data=np.random.randint(1,6,10))
print('### series s1')
s1

#=== 코드작성 ===# 
s1.replace([1,5],['one','five'])

print('### 수정된 series s1')
s1

### series s1

a    3
b    5
c    1
d    4
e    1
f    5
g    1
h    3
i    4
j    1
dtype: int32

a       3
b    five
c     one
d       4
e     one
f    five
g     one
h       3
i       4
j     one
dtype: object

### 수정된 series s1

a    3
b    5
c    1
d    4
e    1
f    5
g    1
h    3
i    4
j    1
dtype: int32

In [29]:
# 주어진 series s1에서 index c인 값을 100으로 바꾸시오

s1=pd.Series(index=list('abcdefghij'), data=np.random.randint(1,6,10))
print('### series s1')
s1

#=== 코드작성 ===# 
s1.loc['c']=100

print('### 수정된 series s1')
s1

### series s1

a    2
b    3
c    3
d    2
e    2
f    3
g    1
h    2
i    4
j    3
dtype: int32

### 수정된 series s1

a      2
b      3
c    100
d      2
e      2
f      3
g      1
h      2
i      4
j      3
dtype: int32

### 문제 2

In [42]:
# 주어진 series s1의 데이터 중 최대값의 두 종류 index(부여한 index와 integer index) 합을 구하시오

s1=pd.Series(index=np.random.randint(0,100,5), data=np.random.randint(0,100,5))
print('### series s1')
s1

v1=s1.argmax()+s1.idxmax()
#=== 코드작성 ===# 

print('### v1: 최대값의 두 종류 index 합')
v1

### series s1

85    90
30    24
20    83
16    18
8     88
dtype: int32

### v1: 최대값의 두 종류 index 합

85

### 문제 3

In [57]:
# 주어진 series s1 중 가장 적은 data 세 개의 index 합을 구하시오
s1=pd.Series(data=np.random.randint(0,100,6))
print('### series s1')
s1
s2=s1.sort_values().iloc[:3]
s2
v1=np.sum(s2.index)

#=== 코드작성 ===#

print('### v1: 가장 적은 data 세 개의 index 합')
v1

### series s1

0    89
1    27
2    15
3     2
4    10
5    43
dtype: int32

3     2
4    10
2    15
dtype: int32

### v1: 가장 적은 data 세 개의 index 합

9