In [1]:
import sys
print('python', sys.version)

import numpy as np
print('numpy', np.__version__)

import pandas as pd
print('pandas', pd.__version__)

# 결과 확인을 용이하게 하기 위한 코드
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

python 3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
numpy 1.20.3
pandas 1.3.4

In [14]:
s1=pd.Series(np.arange(1,6),index=list('ABCDE'),dtype=object,name='s1')
s1
s2=pd.Series([1,2,3.3,4.4,5],index=np.arange(1,6),dtype=object,name='s2')
s2
type(s2[1])
type(s2[3])

A    1
B    2
C    3
D    4
E    5
Name: s1, dtype: object

1      1
2      2
3    3.3
4    4.4
5      5
Name: s2, dtype: object

int

float

In [18]:
dict_data={'a':10,'b':20,'c':30,'d':40,'e':50}
s1=pd.Series(dict_data)
print(s1)
s2=pd.Series(np.arange(11,16),index=[5,1,3,4,2])
s2
s2.index=list('edcba')
s2.name='s2'
s2=s2.astype(float)
s2.index.name="indexname"
s2

a    10
b    20
c    30
d    40
e    50
dtype: int64

5    11
1    12
3    13
4    14
2    15
dtype: int32

indexname
e    11.0
d    12.0
c    13.0
b    14.0
a    15.0
Name: s2, dtype: float64

In [22]:
n1='hongji'
d1=pd.Series(data=list(n1),index=np.arange(1,len(n1)+1),name='d1')
d1
d1.index
type(d1.index)
d1.values
type(d1.values)

1    h
2    o
3    n
4    g
5    j
6    i
Name: d1, dtype: object

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

pandas.core.indexes.numeric.Int64Index

array(['h', 'o', 'n', 'g', 'j', 'i'], dtype=object)

numpy.ndarray

### 실습1

In [37]:
sr1=pd.Series(np.random.randint(0,10,size=5),index=np.arange(1,6))
sr1
a1=sr1.values
a2=a1[a1>=3]
a2
a2.mean()
sr1.loc[[1,2]]
sr1.loc[[1]]
sr1.iloc[2]=-3
sr1
sr1.iloc[[0,1]]=-5
sr1

1    4
2    0
3    9
4    6
5    0
dtype: int32

array([4, 9, 6])

6.333333333333333

1    4
2    0
dtype: int32

1    4
dtype: int32

1    4
2    0
3   -3
4    6
5    0
dtype: int32

1   -5
2   -5
3   -3
4    6
5    0
dtype: int32

In [39]:
s1=pd.Series(data=[1,2,3,4,5],index=[3,7,4,5,6],name='s1')
s1.iloc[3]
s1.loc[3]
s1.iloc[3:5]
s1.loc[3:5]
s1.iloc[3::2]
s1.loc[7::2]

4

1

5    4
6    5
Name: s1, dtype: int64

3    1
7    2
4    3
5    4
Name: s1, dtype: int64

5    4
Name: s1, dtype: int64

7    2
5    4
Name: s1, dtype: int64

### 실습2

In [46]:
s1=pd.Series(np.arange(0,10),index=list('e1d2c3b4a5'))
s1
s1.loc['d']
s1.loc[['5']]
s1.loc['d':'b':2]

s1.iloc[2]
s1.iloc[[-1]]
s1.iloc[2:7:2]

e    0
1    1
d    2
2    3
c    4
3    5
b    6
4    7
a    8
5    9
dtype: int32

2

5    9
dtype: int32

d    2
c    4
b    6
dtype: int32

2

5    9
dtype: int32

d    2
c    4
b    6
dtype: int32

In [49]:
s1=pd.Series(data=np.random.normal(0,2,size=4),name='s1')
s1
s2=pd.Series(data=np.random.randint(100,size=4),name='s2')
s2
s3=pd.Series(np.random.choice(list('erferwe'),size=4),name='s3')
s3

0    1.065161
1   -0.566811
2   -0.278294
3    0.170532
Name: s1, dtype: float64

0     4
1    90
2    58
3     2
Name: s2, dtype: int32

0    w
1    e
2    w
3    e
Name: s3, dtype: object

In [51]:
s1=pd.Series(data=[4,2,1,3,5],index=list('abcde'),name='s1')
s1
s1%3
s1.mean()
np.mean(s1)
s1.max()
s1.argmax()

a    4
b    2
c    1
d    3
e    5
Name: s1, dtype: int64

a    1
b    2
c    1
d    0
e    2
Name: s1, dtype: int64

3.0

3.0

5

4

In [56]:
s1=pd.Series(np.random.randint(10,size=6))
s1
s1>3
s1[s1>3]
s1.sort_values()
s1.sort_values(inplace=True)

0    2
1    9
2    2
3    4
4    5
5    9
dtype: int32

0    False
1     True
2    False
3     True
4     True
5     True
dtype: bool

1    9
3    4
4    5
5    9
dtype: int32

0    2
2    2
3    4
4    5
1    9
5    9
dtype: int32

In [57]:
s1=pd.Series(np.random.randint(10,size=5))
s1
s1.sort_values()
s1.sort_index()

0    8
1    8
2    1
3    0
4    2
dtype: int32

3    0
2    1
4    2
0    8
1    8
dtype: int32

0    8
1    8
2    1
3    0
4    2
dtype: int32

In [60]:
s1=pd.Series(data=list('abca'),index=range(3,7))
s1
s1.loc[4:6]='z'
s1
s1.iloc[2]=3
s1

3    a
4    b
5    c
6    a
dtype: object

3    a
4    z
5    z
6    z
dtype: object

3    a
4    z
5    3
6    z
dtype: object

### 문제1

In [63]:
# 주어진 series s1의 data중 1은 one, 5는 five로 바꾼 s1을 다시 출력하시오 (2,3,4는 그대로 둠)

s1=pd.Series(index=list('abcdefghij'), data=np.random.randint(1,6,10))
print('### series s1')
s1

s1.loc['b']='one'
s1.loc['c']='five'
s1

### series s1

a    4
b    3
c    4
d    2
e    1
f    1
g    3
h    5
i    5
j    1
dtype: int32

a       4
b     one
c    five
d       2
e       1
f       1
g       3
h       5
i       5
j       1
dtype: object

### 문제2

In [70]:
# 주어진 series s1의 데이터 중 최대값의 두 종류 index(부여한 index와 integer index) 합을 구하시오

s1=pd.Series(index=np.random.randint(0,100,5), data=np.random.randint(0,100,5))
print('### series s1')
s1

a1=s1.max()
s2=s1.index
s2.max()

### series s1

38    94
25    48
92    80
49    31
20    36
dtype: int32

92

### 문제3

In [86]:
# 주어진 series s1 중 가장 적은 data 세 개의 index 합을 구하시오
s1=pd.Series(data=np.random.randint(0,100,6))
print('### series s1')
s1

s2=s1.sort_values()
s2
s3=s2.iloc[:3]
s3
np.sum(s3.index)

### series s1

0    36
1    26
2    23
3    16
4     4
5    95
dtype: int32

4     4
3    16
2    23
1    26
0    36
5    95
dtype: int32

4     4
3    16
2    23
dtype: int32

9

## 연습

In [20]:
s1=pd.Series([1,2,4,5.5,3.7,8,3],index=list('dcbaefg'),name='number',dtype=object)
s1
s1['a']=9
np.sum(s1>3)

d      1
c      2
b      4
a    5.5
e    3.7
f      8
g      3
Name: number, dtype: object

4

In [33]:
dict={'a':100,'b':200,'c':300,'d':400,'e':500}
s1=pd.Series(dict,name='dict',dtype=float)
s1.astype(int)
s1.index=list('ABCDE')
s1.index.name='alpha'
type(s1.index)
type(s1.values)
s1

a    100
b    200
c    300
d    400
e    500
Name: dict, dtype: int32

pandas.core.indexes.base.Index

numpy.ndarray

alpha
A    100.0
B    200.0
C    300.0
D    400.0
E    500.0
Name: dict, dtype: float64

In [38]:
n='happy'
s1=pd.Series(np.arange(1,len(n)+1),index=list(n),name='myname')
s1
s1.index
s1.values

h    1
a    2
p    3
p    4
y    5
Name: myname, dtype: int32

Index(['h', 'a', 'p', 'p', 'y'], dtype='object')

array([1, 2, 3, 4, 5])

#### 실습1

In [54]:
sr1=pd.Series(np.random.randint(10,size=5),index=np.arange(1,6))
sr1
a1=sr1.values
a1[a1>=3].mean()

1    3
2    7
3    0
4    3
5    2
dtype: int32

4.333333333333333

In [64]:
s1=pd.Series(np.arange(5),index=list('edcba'),name='s1')
s1
s1.loc['a']=10
s1.loc['a']
s1.loc[['a','d']]=[3,4]
s1
s1.loc[['e']]

e    0
d    1
c    2
b    3
a    4
Name: s1, dtype: int32

10

e    0
d    4
c    2
b    3
a    3
Name: s1, dtype: int32

e    0
Name: s1, dtype: int32

In [68]:
s1=pd.Series(np.arange(5),index=list('edcba'),name='s1')
s1
s1.iloc[3]
s1.iloc[[3,2]]=100

e    0
d    1
c    2
b    3
a    4
Name: s1, dtype: int32

3

In [73]:
s1=pd.Series([1,3,4,5,2],index=[7,3,4,8,9],name='s1')
s1
s1.loc[[3]]
s1.iloc[[3]]

s1.loc[3:9]
s1.iloc[:3]

s1.loc[4::2]
s1.iloc[2::2]

7    1
3    3
4    4
8    5
9    2
Name: s1, dtype: int64

3    3
Name: s1, dtype: int64

8    5
Name: s1, dtype: int64

3    3
4    4
8    5
9    2
Name: s1, dtype: int64

7    1
3    3
4    4
Name: s1, dtype: int64

4    4
9    2
Name: s1, dtype: int64

4    4
9    2
Name: s1, dtype: int64

#### 실습2

In [79]:
s1=pd.Series(np.arange(10),index=list('e1d2c3b4a5'))
s1
s1.loc['d']
s1.loc[['5']]
s1.loc['d':'b':2]

s1.iloc[2]
s1.iloc[[9]]
s1.iloc[2:7:2]

e    0
1    1
d    2
2    3
c    4
3    5
b    6
4    7
a    8
5    9
dtype: int32

2

5    9
dtype: int32

d    2
c    4
b    6
dtype: int32

2

5    9
dtype: int32

d    2
c    4
b    6
dtype: int32

In [84]:
s1=pd.Series(np.random.normal(0,2,size=4),name='s1')
s1
s1=pd.Series(np.random.randint(100,size=4),name='s1')
s1
s1=pd.Series(np.random.choice(list('erferwe'),size=(4)),name='s1')
s1

0    1.213624
1   -2.192122
2    1.634323
3    2.189900
Name: s1, dtype: float64

0    15
1    76
2    66
3    54
Name: s1, dtype: int32

0    r
1    r
2    f
3    e
Name: s1, dtype: object

In [91]:
s1=pd.Series([100,200,300,400,500,600],index=list('abcdef'),name='s1')
s1
a1=s1.values
a1
np.sum(a1>300)

a    100
b    200
c    300
d    400
e    500
f    600
Name: s1, dtype: int64

array([100, 200, 300, 400, 500, 600], dtype=int64)

3

In [98]:
s1=pd.Series([5,3,2,1,6,9],index=list('gbceda'))
s1
s1.sort_values(inplace=True)
s2=s1.sort_index()
s2
s3=s2.sort_values()
s3

g    5
b    3
c    2
e    1
d    6
a    9
dtype: int64

a    9
b    3
c    2
d    6
e    1
g    5
dtype: int64

e    1
c    2
b    3
g    5
d    6
a    9
dtype: int64

In [101]:
s1=pd.Series(list('abca'),index=range(3,7))
s1
s1.replace('a','5',inplace=True)
s1.replace(['5','b'],'z',inplace=True)
s1

3    a
4    b
5    c
6    a
dtype: object

3    z
4    z
5    c
6    z
dtype: object