In [1]:
3>5

False

In [2]:
4==5

False

In [3]:
4!=5

True

In [4]:
a=2
b=0

In [5]:
a,b

(2, 0)

In [6]:
b+=5 #b=b+5=0+5=5
b

5

In [7]:
a-=2 #a=a-2=2-2=0
a

0

In [8]:
b=1
b*=6 #b=b*6=1*6=6
b

6

In [9]:
a=2
b=3
a,b

(2, 3)

In [10]:
a>1 and b<5

True

In [11]:
a>1 or b<3

True

In [12]:
not(a>1 or b<3)

False

In [15]:
x=1
x=10.2
x='python'
x

'python'

In [16]:
a=1;b=2;c=3
a,b,c

(1, 2, 3)

In [17]:
c,d=3,4
c,d

(3, 4)

In [18]:
x=y=z=1
x,y,z

(1, 1, 1)

In [19]:
A=10;B=20
A+B

30

In [20]:
A+C

NameError: name 'C' is not defined

In [22]:
x=100;y=200
s=x+y
print(x,"와",y,"의 합은",s,"이다")

100 와 200 의 합은 300 이다

In [23]:
#연습문제
year=2019;month=10;day=29
print("오늘은",year,"년",month,"월",day,"일 입니다.")

오늘은 2019 년 10 월 29 일 입니다.

In [1]:
str_input=input()

안녕

In [2]:
str_input

'안녕'

In [27]:
int_input=int(input())

60

In [28]:
flt_input=float(input())

60.87

In [2]:
x=int(input("첫번째 정수를 입력하세요"))
y=int(input("두번째 정수를 입력하세요"))
s=x+y
print(x,"와",y,"의 합은",s)

첫번째 정수를 입력하세요20
두번째 정수를 입력하세요30
20 와 30 의 합은 50

In [45]:
#연습문제
x=input("경기장은 어디입니까?")
y=input("이긴팀은 어디입니까?")
z=input("진팀은 어디입니까?")
a=input("우수선수는 누구입니까?")
b=input("스코어는 몇대몇입니까?")
print("오늘",x,"에서 야구 경기가 열렸습니다\n", y,"와",z,"는 치열한 공방전을 펼쳤습니다\n",a,"이 맹활약을 하였습니다\n","결국",y,"가",z,"를",b,"로 이겼습니다")

경기장은 어디입니까?서울
이긴팀은 어디입니까?LG트윈스
진팀은 어디입니까?롯데자이언츠
우수선수는 누구입니까?박용택
스코어는 몇대몇입니까?8:7
오늘 서울 에서 야구 경기가 열렸습니다
 LG트윈스 와 롯데자이언츠 는 치열한 공방전을 펼쳤습니다
 박용택 이 맹활약을 하였습니다
 결국 LG트윈스 가 롯데자이언츠 를 8:7 로 이겼습니다

In [46]:
name='Kim'; age=20
print("이름은 %s 이다" %name)

이름은 Kim 이다

In [47]:
print("나이는 %d이다" %age) #정수

나이는 20이다

In [48]:
print("나이는 %o이다" %age) #20을 8진수

나이는 24이다

In [49]:
print("나이는 %e이다" %age) #20을 지수형식으로 표현

나이는 2.000000e+01이다

In [50]:
print("나이는 %.3f이다" %age) #실수 소수점 3자리수까지 표현

나이는 20.000이다

In [51]:
print("나는 %s를 먹는다" % "고기")

나는 고기를 먹는다

In [52]:
print("나는 %10s를 먹는다" % "고기")

나는         고기를 먹는다

In [53]:
print("나는 %-10s를 먹는다" % "고기")

나는 고기        를 먹는다

# 연습문제

In [55]:
a='사과';b='바나나'
print("나는 %s와 %s를 좋아한다" %(a,b))

나는 사과와 바나나를 좋아한다

In [56]:
print("%d+%d=%d" %(10,20,30))

10+20=30

In [58]:
print("%2s의 위도는 %.4f입니다" %("서울",37.5306))

서울의 위도는 37.5306입니다

In [1]:
6<5

False

In [2]:
6==6

True

In [3]:
6!=6

False

In [4]:
6>=4

True

In [5]:
a=4,b=5

SyntaxError: can't assign to literal (<ipython-input-5-ab9d5c311bf7>, line 1)

In [6]:
a=4
b=5

In [13]:
a,b

(19, 5)

In [14]:
a=4
b=5

In [15]:
a,b

(4, 5)

In [16]:
a+=5
a

9

In [17]:
b*=2
b

10

In [18]:
a,b

(9, 10)

In [19]:
a//=3
a

3

In [20]:
a%=2
a

1

In [21]:
a,b

(1, 10)

In [22]:
a>5 and b<11

False

In [23]:
a>5 or b>11

False

In [24]:
not(a>0 and b>11)

True

In [25]:
a,b=3,4
a,b

(3, 4)

In [26]:
sum=a+b
print(a,"와",b,"의 합은",sum,"입니다.")

3 와 4 의 합은 7 입니다.

In [35]:
r=input()
e=int(input())
g=float(input())

e
e

TypeError: 'int' object is not callable

In [ ]:
x=int(input("첫번째 정수를 입력하세요"))
y=int(input("두번째 정수를 입력하세요"))
s=x+y
print(x,"와",y,"의 합은",s,"입니다")

In [1]:
x=int(input("첫번째 정수"))
y=int(input("두번째 정수"))
s=x+y
print(x,"와",y,"의 합은",s)

첫번째 정수50
두번째 정수60
50 와 60 의 합은 110

In [1]:
x=input("이긴 팀")
y=input("열린 장소")
z=input("진 팀")
a=input("우수 선수")
b=input("몇 대 몇")
print("\t오늘",y,"에서 야구경기가 열렸습니다\n",x,"와",z,"가 치열한 공방전을 펼쳤습니다\n",a,"가 맹활약을 했습니다\n","결국",x,"가",z,"를",b,"로 이겼습니다")

이긴 팀두산
열린 장소서울
진 팀SK
우수 선수류현진
몇 대 몇6:1
	오늘 서울 에서 야구경기가 열렸습니다
 두산 와 SK 가 치열한 공방전을 펼쳤습니다
 류현진 가 맹활약을 했습니다
 결국 두산 가 SK 를 6:1 로 이겼습니다

In [6]:
name="Hong";age=21
print("나의 이름은 %s이다" %name)

나의 이름은 Hong이다

In [7]:
print("나의 나이는 %d이다" %age)

나의 나이는 21이다

In [8]:
print("나의 나이는 %e이다" %age)

나의 나이는 2.100000e+01이다

In [9]:
print("나의 나이는 %o이다" %age)

나의 나이는 25이다

In [11]:
print("나의 나이는 %.5f이다" %age)

나의 나이는 21.00000이다

In [12]:
print("나의 나이는 %10s이다" %age)

나의 나이는         21이다

In [13]:
print("나의 나이는 %-10s이다" %age)

나의 나이는 21        이다

In [14]:
a='배'; b='포도'
print("나는 %s와 %s를 좋아한다" %(a,b))

나는 배와 포도를 좋아한다

In [15]:
print("%d*%d=%d" %(2,4,8))

2*4=8